.App {
  text-align: center;
}

.centered {
	text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 0.25cm;
  margin-top: 0.25cm;
}